doctype html
html(lang="en")
  head
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    each jsBundleURL in jsBundleURLs
      link(rel="preload" href=jsBundleURL as="script")/
    style(data-href=cssInline.url) !{cssInline.content}
  body
    div(id="root")
    each jsBundleURL in jsBundleURLs
      script(src=jsBundleURL)