doctype html
html
  head
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    style !{cssInline}
  body
    div(id="root")
      div(class="images")
        each val in [0, 1, 2]
          div(class="imageContainer")
            div(class="imageWrapper" id=`w${val}`)
    script !{jsInline}